# 서버
SERVER_PORT=8081

# 데이터베이스
DB_URL=jdbc:mysql://localhost:3306/senialsDB?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Seoul
DB_USERNAME=root
DB_PASSWORD=root

# JWT
JWT_SECRET=mySuperSecretKey1234567890!@#$%^&*()

# 이미지 업로드 경로
UPLOAD_PATH=uploads
